name: github-actions

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Xcode select
      run: sudo xcode-select -switch /Applications/Xcode_13.2.1.app

    - name: Buid and run tests
      run: xcodebuild clean build test -project AndreyRozhkovScootersOnMap.xcodeproj
            -scheme AndreyRozhkovScootersOnMap
            -destination 'platform=iOS Simulator,name=iPhone 12,OS=15.2'
            | xcpretty && exit ${PIPESTATUS[0]}
